<% provide(:title, 'WomenWhoCode') %>

<h1>Hello Ruby Tuesdays!</h1>
<p>by Women Who Code</p>

<p>
  <% if !user_signed_in? %>
    <%= link_to "Sign up", signup_path, class: "btn btn-large btn-primary" %>
  <% else %>
    <div id="tag_cloud">
      Tags!  Check out what we're posting:<br/>
      <% tag_cloud Link.tag_counts.order(:name), ['btn-xs', 'btn-sm', '', 'btn-lg'] do |tag, css_class| %>
          <%= link_to tag.name, tag_path(tag.name), class: "btn btn-info #{css_class}", role: 'button'%>
      <% end %>
    </div>
    <%= link_to "See all links", links_path %>
  <% end %>
</p>