<% provide(:title, @user.name) %>

<h1><%= @user.name %></h1>

<p>
Email: <%= @user.email %>
</p>

<p>
About Me: <%= @user.about_text %>
</p>

<p>
	<%= link_to "My Links", links_index_user_path(current_user) %>
</p>
